@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 0.5;
  letter-spacing: 0em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  scroll-snap-type: y mandatory;
  /* font-family: 'Roboto', sans-serif; */
}

.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.114);
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  color: rgb(141, 141, 141) !important;
  transform: scale(0.7);
}

.swiper-button-prev::after {
  transform: scale(0.7);
  font-weight: 900;
}

.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.114);
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  color: rgb(141, 141, 141) !important;
  transform: scale(0.7);
}

.swiper-button-next::after {
  transform: scale(0.7);
  font-weight: 900;
}